@import "./src/components/Sass/setting";

form {
    width: 100%;
    max-width: 980px;
    margin: 0px auto;
    padding: 20px 0;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        border: 1px solid $color-border-site;
        width: -webkit-fill-available;
        padding: 10px 0;
        text-indent: 10px;
    }

    .field {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
    }
}